; 仅用于 Electron 官方二进制分发的下载加速（策略见 build/THIRD-PARTY-LICENSES.md）
; npm 包本体始终来自 registry.npmjs.org
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
